<div class="card m-2" id="comments-new">
    <div class="card-body">
        <!-- 댓글 작성 폼 -->
        <form>
            <!-- 닉네임 입력 -->
            <div class="mb-3">
                <label class="form-label">닉네임</label>
                <input type="text" class="form-control" id="new-comment-nickname">
            </div>
            <!-- 댓글 본문 입력 -->
            <div class="mb-3">
                <label class="form-label">댓글 내용</label>
                <textarea type="text" class="form-control" rows="3"
                          id="new-comment-body"></textarea>
            </div>
            <!-- 히든 인풋 -->
            {{#article}}
                <input type="hidden" id="new-comment-article-id" value="{{id}}">
            {{/article}}
            <!-- 전송 버튼 -->
            <button type="button" class="btn btn-primary"
                    id="comment-create-btn">댓글 작성</button>
        </form>
    </div>
</div>
<script>
    {
        // 댓글 생성 버튼 변수화
        const commentCreateBtn = document.querySelector("#comment-create-btn"); // #(id 선택자) 사용
        // 댓글 클릭 이벤트 감지
        commentCreateBtn.addEventListener("click", function() {
            // 새 댓글 객체 생성
            const comment = {
                // 새 댓글의 닉네임
                nickname: document.querySelector("#new-comment-nickname").value,
                // 새 댓글의 본문
                body: document.querySelector("#new-comment-body").value,
                // 부모 게시글의 id
                articleId: document.querySelector("#new-comment-article-id").value
            };
            // 댓글 객체 출력
            console.log(comment);

            // 자바스크립트로 REST API 호출하고 응답 처리하기
            // fetch() - 비동기 통신을 위한 API
            const url = "/api/articles/" + comment.articleId + "/comments";
            fetch(url, {
                method: "POST", // POST 요청
                headers: { // 전송 본문의 데이터 타입(JSON) 정보
                    "Content-Type": "application/json" // 헤더 정보에는 전송 본문의 데이터 타입이 JSON임을 명시하는 내용이 들어감
                },
                body: JSON.stringify(comment) //comment 객체를 JSON 문자열로 변환해 전송 {전송 데이터}, 객체를 JSON 형태로 변환해 전송하기 위해 stringify() 메서드 사용
            }).then(response => { // 응답을 받아 처리하는 구문, 여기서 response는 API 요청을 보내고 받은 응답 객체이다.
                // HTTP 응답 코드에 따른 메시지 출력
                const msg = (response.ok) ? "댓글이 등록됐습니다." : "댓글 등록 실패..!";
                alert(msg);
                // 현재 페이지 새로 고침
                window.location.reload();
            });
        });
    }
</script>