{{>layouts/header}}
<table class="table">
    <thead>
    <tr>
        <th scope="col">Id</th>
        <th scope="col">Title</th>
        <th scope="col">Content</th>
    </tr>
    </thead>
    <tbody>
    {{#article}} <!--머스테치 문법인 이중괄호: #을 이용해 열고, /을 사용해 닫는다.-->
        <tr>
            <th>{{id}}</th>
            <td>{{title}}</td>
            <td>{{content}}</td>
        </tr>
    {{/article}}
    </tbody>
</table>

<a href="/articles/{{article.id}}/edit" class="btn btn-primary">Edit</a> <!--수정 버튼-->
<a href="/articles/{{article.id}}/delete" class="btn btn-danger">Delete</a> <!--삭제 버튼-->
<a href="/articles">Go to Article List</a>

{{>layouts/footer}}